<div id="catalogSelectionContainer" class="container">
        <div class="selectionCatalog" role="group">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="brandSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Marcas
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="brands">
            {% for b in brands %}
            <li><a class="dropdown-item" href="{{ url_for('main.get_brand', id = b.id) }}">{{ b.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="themeSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Temas
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="themes">
            {% for t in themes %}
            <li><a class="dropdown-item" href="{{ url_for('main.get_theme', id = t.id) }}">{{ t.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="categorySelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="category">
            {% for c in categories %}
            <li><a class="dropdown-item" href="{{ url_for('main.get_category', id = c.id) }}">{{ c.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar" id="txtSearch"/>
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
    </div>
</div>
