<div class="container">
    <div class="row">
        {% if product_brands %}
        {% for b in product_brands.items %}
        <div class="col-md-3 mt-3">
            <div class="panel panel-default">
                <img class="cardImgCatalog" src="{{ url_for('static', filename='images/' + b.image) }}" alt="{{ b.name }}">
                <div class="panel-body">
                    <h5 class="text-cent">{{ b.name }}</h5>
                    <p class="text-center">Preço: R$ {{ (("%.2f"|format(b.price))|string()).replace(".", ",") }}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.single_page', id=b.id) }}" class="float-left btn btn-sm btn-primary">Detalhes</a>
                <form id="product-display-action" action="{{ url_for('cart.add_cart') }}" method="post">
                    <input type="hidden" name="product_id" value="{{ b.id }}">
                    <button type="submit" class="btn btn-sm btn-warning"> Adicionar ao carrinho </button>
                    <input type="hidden" name="quantity" id="" value="1" min="1" max="20">
                </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center ">
            {% if product_brands.has_prev %}
            <a href="{{url_for('main.get_brand', id=get_brand_id.id, page=product_brands.prev_num)}}" class="btn btn-outline-primary btn-sm mt-3">Anterior</a>
            {% endif %}
            {% if product_brands.total > 4 %}
            {% for page_num in product_brands.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if product_brands.page == page_num %}
            <a href="{{url_for('main.get_brand', id=get_brand_id.id, page=page_num)}}" class="btn btn-primary btn-sm mt-3">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('main.get_brand', id=get_brand_id.id, page=page_num)}}" class="btn btn-outline-primary btn-sm mt-3">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if product_brands.has_next %}
            <a href="{{url_for('main.get_brand', id=get_brand_id.id, page=product_brands.next_num)}}" class="btn btn-outline-primary btn-sm mt-3">Próximo</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% elif product_categories %}
        {% for c in product_categories.items %}
        <div class="col-md-3 mt-3">
            <div class="panel panel-default">
                <img class="cardImgCatalog" src="{{ url_for('static', filename='images/' + c.image) }}" alt="{{ c.name }}">
                <div class="panel-body">
                    <h5 class="text-cent">{{c.name}}</h5>
                    <p class="text-center">Preço: R$ {{ (("%.2f"|format(c.price))|string()).replace(".", ",") }}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.single_page', id=c.id) }}" class="float-left btn btn-sm btn-primary">Detalhes</a>
                <form id="product-display-action" action="{{ url_for('cart.add_cart') }}" method="post">
                    <input type="hidden" name="product_id" value="{{ c.id }}">
                    <button type="submit" class="btn btn-sm btn-warning"> Adicionar ao carrinho </button>
                    <input type="hidden" name="quantity" id="" value="1" min="1" max="20">
                </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center ">
            {% if product_categories.has_prev %}
            <a href="{{url_for('main.get_category', id=get_category_id.id, page=product_categories.prev_num)}}" class="btn btn-outline-primary btn-sm mt-3">Anterior</a>
            {% endif %}
            {% if product_categories.total > 4 %}
            {% for page_num in product_categories.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if product_categories.page == page_num %}
            <a href="{{url_for('main.get_category', id=get_category_id.id, page=page_num)}}" class="btn btn-primary btn-sm mt-3">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('main.get_category', id=get_category_id.id, page=page_num)}}" class="btn btn-outline-primary btn-sm mt-3">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if product_categories.has_next %}
            <a href="{{url_for('main.get_category', id=get_category_id.id, page=product_categories.next_num)}}" class="btn btn-outline-primary btn-sm mt-3">Próximo</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% elif product_themes %}
        {% for t in product_themes.items %}
        <div class="col-md-3 mt-3">
            <div class="panel panel-default">
                <img class="cardImgCatalog" src="{{url_for('static', filename='images/' + t.image)}}" alt="{{ t.name }}">
                <div class="panel-body">
                    <h5 class="text-cent">{{t.name}}</h5>
                    <p class="text-center">Preço: R$ {{ (("%.2f"|format(t.price))|string()).replace(".", ",") }}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.single_page', id=t.id) }}" class="float-left btn btn-sm btn-primary">Detalhes</a>
                <form id="product-display-action" action="{{ url_for('cart.add_cart') }}" method="post">
                    <input type="hidden" name="product_id" value="{{ t.id }}">
                    <button type="submit" class="btn btn-sm btn-warning"> Adicionar ao carrinho </button>
                    <input type="hidden" name="quantity" id="" value="1" min="1" max="20">
                </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center ">
            {% if product_themes.has_prev %}
            <a href="{{url_for('main.get_theme', id=get_theme_id.id, page=product_themes.prev_num)}}" class="btn btn-outline-primary btn-sm mt-3">Anterior</a>
            {% endif %}
            {% if product_themes.total > 4 %}
            {% for page_num in product_themes.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if product_themes.page == page_num %}
            <a href="{{url_for('main.get_theme', id=get_theme_id.id, page=page_num)}}" class="btn btn-primary btn-sm mt-3">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('main.get_theme', id=get_theme_id.id, page=page_num)}}" class="btn btn-outline-primary btn-sm mt-3">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if product_themes.has_next %}
            <a href="{{url_for('main.get_theme', id=get_theme_id.id, page=product_themes.next_num)}}" class="btn btn-outline-primary btn-sm mt-3">Próximo</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% else %}
        {% for p in products.items %}
        <div class="col-md-3 mt-3">
            <div class="panel panel-default">
                <img class="cardImgCatalog" src="{{url_for('static', filename='images/' + p.image)}}" alt="{{p.name}}">
                <div class="panel-body">
                    <h5 class="text-cent">{{p.name}}</h5>
                    <p class="text-center">Preço: R$ {{ (("%.2f"|format(p.price))|string()).replace(".", ",") }}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.single_page', id=p.id) }}" class="float-left btn btn-sm btn-primary">Detalhes</a>
                <form id="product-display-action" action="{{ url_for('cart.add_cart') }}" method="post">
                    <input type="hidden" name="product_id" value="{{ p.id }}">
                    <button type="submit" class="btn btn-sm btn-warning"> Adicionar ao carrinho </button>
                    <input type="hidden" name="quantity" id="" value="1" min="1" max="20">
                </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center ">
            {% if products.has_prev %}
            <a href="{{url_for('main.index', page=products.prev_num)}}" class="btn btn-outline-primary btn-sm mt-3">Anterior</a>
            {% endif %}
            {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if products.page == page_num %}
            <a href="{{url_for('main.index', page=page_num)}}" class="btn btn-primary btn-sm mt-3">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('main.index', page=page_num)}}" class="btn btn-outline-primary btn-sm mt-3">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <a href="{{url_for('main.index', page=products.next_num)}}" class="btn btn-outline-primary btn-sm mt-3">Próximo</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>