{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Categorias{% endblock %}
{% block page_content %}
<h1 style="text-align: center;">Cadastrar novo categoria</h1>

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <button id="backButtonProducts" type="button" class="btn btn-dark"><a href="/brands">Voltar</a></button>
</div>

<!--<form action="/add_categories" class="categoryAdd" method="post">-->
<!--    <div class="form-group">-->
<!--        <div class="col-md-6">-->
<!--            <input type="text" name="name", id="name" placeholder="Nome" class="form-control">-->
<!--        </div>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="row col-xs-12">-->
<!--        <button type="submit" class="btn btn-block btn-success">Enviar</button>-->
<!--    </div>-->
<!--</form>-->
<!--<div class="return">-->
<!--    <a href="/categories">Voltar</a>-->
<!--</div>-->
{% endblock %}