{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <table class="table">
            <thead>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
                <th>Atualizar</th>
                <th>Remover</th>
            </thead>
        <tbody>
            {% for key, product in session['shopping_cart'].items() %}
            <tr>
                <td><img id="cart_img_product" src="{{ url_for('static', filename='images/' + product.image) }}" alt="product.name"></td>
                <td>{{ product.name }}</td>
                <form action="{{ url_for('cart.update_cart', code=key) }}" method="post">
                    <td>R$ {{ (("%.2f"|format(product.price))|string()).replace(".", ",")}}</td>
                    <td> <input type="number" name="quantity" min="1" max="10" value="{{ product.quantity }}"></td>
                    {% set subtotal = product.quantity|int * product.price|float %}
                    <td>R$ {{ (("%.2f"|format(subtotal))|string()).replace(".", ",")  }}</td>
                    <td><button type="submit" class="btn btn-sm btn-info">Atualizar</button></td>
                </form>
                <td><a href="{{ url_for('cart.delete_item', id=key) }}" class="btn btn-sm btn-danger">Remover</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>Total Itens: {{ sum_item_unit }} unidades</h5></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-sm btn-danger"><a id="clear-cart-button" href=" {{ url_for('cart.empty_cart') }} ">Limpar carrinho</a></button></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div id="cart-summary" class="container" >
        
        <div class="cart-checkout">
            <p>Frete: R$ {{ freight }}</p>
            <p>Subtotal: R$ {{ subtotal }}</p>
            <hr>
            <p>Total: R$ {{ grandtotal }}</p>
            <button class="btn btn-success"><a href="{{ url_for('cart.buy_product') }}">Pagar</a></button>
        </div>

    </div>
{% endblock %}