
.menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;

}

.menu>ul>li{
    margin-top: 20px;
    margin-left: 10px;
}

.selectOption{
    margin-left: 10px;
}

.menu>ul>li>a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
    color: black;
    
}

.menu>ul>li>a:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
    text-decoration: none;
    color: red;
}

.registerForm{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    align-content: space-around;
}


.destinyEdit{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    flex-direction: column;
    align-content: space-around;

}

.registerForm>div>div{
    margin-bottom: 10px;
}

.destinyEdit>div{
    margin: 10px;
}

.return>button{
    border-color: blue;
    color: blue;
}

.return>button:hover{
    border-color: blue;
    background-color: blue;
    color: white;
}


.return>button>a{
    color: black;
}

.return>button>a:hover{
    text-decoration: none;
    color: white;
}

.productAdd{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    flex-direction: column;
    align-content: space-between;
}

.productAdd>div>div{
    margin-bottom: 10px;
}

.productEdit{
    display: flex;
    background-color: #FBFCF8;
    border-radius: 3px;
    padding: 1.8em;
    flex-direction: column;
    align-content: space-between;
}

.productEdit>div>div{
    margin-bottom: 10px;
}

.productImg{
    width: 80px;
    height: 60px;
}

.editProductImg{
    width: 200px;
    height: 150px;
    margin: 5px, 5px, 5px, 5px;
}

button#backButtonProducts{
    margin-left: 10px;
    margin-bottom: 10px;
}

button#addButtonProducts{
    margin-right: 40px;
    margin-bottom: 10px;
}


