{% extends "base.html" %}
{% block title %}Seleção Produtos{% endblock %}

{% block page_content %}
<h1>Cadastro de Produtos</h1>

</div>
{% if current_user.is_administrator() %}
<h5 class="selectOption">Selecione uma opção:</h5>
<div class="menu">
    <ul class="list-group">
        <li class="list-group-item"><a href="/products">Cadastrar produto</a></li>
        <li class="list-group-item"><a href="/themes">Cadastrar tema</a></li>
        <li class="list-group-item"><a href="/brands">Cadastrar marca</a></li>
        <li class="list-group-item"><a href="/categories">Cadastrar categoria</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}
