{% extends "base.html" %}
{% block title %}Edição de Cliente{% endblock %}
{% block page_content %}
<h1 style="text-align: center;">Editar {{ consumer.name }}</h1>
<form action="/edit_consumer/{{ consumer.id }}" class="container" method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="name", id="name" placeholder="Nome" class="form-control" value="{{ consumer.name }}">
        </div>
        <div class="col-md-6">
            <input type="text" name="email" id="email" placeholder="E-mail" class="form-control" value="{{ consumer.email }}" >
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success">Enviar</button>
    </div>
</form>
{% endblock %}
