{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block page_content %}
<div class="container">
    <h1>Bem-vindo a loja de jogos Acme</h1>
    <h1>Olá,
        {% if current_user.is_authenticated %}
            {{current_user.username}}
        {% else %}
            Amigo!!
        {% endif %}</h1>
    {% if not known %}
    <p>Somos especilistas em jogos de tabuleiro e cartas!</p>
    {% else %}
    <p>Que bom ve-lo de novo!</p>
    {% endif %}
</div>

{% include 'products/_catalog_selection.html' %}

{% include 'products/_catalog.html' %}

{% endblock %}


