{% extends "base.html" %}

{% block title %}Delivery - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    {% if user.username or user.destiny.address %}
    <p>
        {% if user.username %}{{ user.username }}{% endif %}
        {% if user.destiny.address %}
            from <p>{{ user.destiny.address}}</p>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_administrator() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>Membro desde: {{ moment(user.member_since).format('L') }}. Última visita: {{ moment(user.last_seen).fromNow() }}.</p>
</div>
{% endblock %}